:root {
    --c-brand: #ffa409;
    --c-brand-light: #ffb609;
}

.nav-bar .logo {
    height: 42px;
    margin-right: 6px;
}

@media screen and (max-width: 965px) {
    .nav-bar-title {
        color: transparent !important;
    }
}
